<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

<!-- 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
             version="2.5" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
-->

    <display-name>ALVANKLAVEREN.COM</display-name>
    <filter>
        <filter-name>AVKApplication</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>com.myforum.application.AVKApplication</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AVKApplication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!--  start rest services -->
	<!-- Auto scan REST service -->
<!-- 
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
 -->	
	<!-- this need same with resteasy servlet url-pattern -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/services</param-value>
	</context-param>

 
	<listener>
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
	</listener>


	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>
 	
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>
     
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

<!--     
    <context-param>
		<description>Debug Environment</description>
		<param-name>configuration</param-name>
		<param-value>development</param-value>
	</context-param>
  -->
    <context-param>
		<description>Deployment</description>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>

	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>server</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>server</web-resource-name>
	        <!-- exclude the call to gameshopmobile. this page is NOT https protected !! -->
	        <url-pattern>/gameshopmobile/*</url-pattern>
	    </web-resource-collection>
	    <user-data-constraint>
	        <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>
</web-app>
